.app {
  margin: auto;
  margin-top: 2rem;
  padding: 90px;
  width: 1169px;
  height: 758px;
  background: white;
}

.app .container {
  margin: 20px;
}

.app form div.header p {
  font-size: 34px;
  font-weight: 700;
  margin: 10px;
  color: #666;
}

.app form div.header p span {
  color: black;
}

.app form div.header p span:last-child {
  margin-left: 123px;
  color: #0c77bb;
  font-size: 12px;
  border-bottom: 1px dashed #0c77bb;
  cursor: pointer;
}

.statusTooltip {
  margin-top: 11px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statusTooltip span {
  letter-spacing: 1;
  display: block;
  width: 503px;
  height: 46px;
  background: #eaeaea;
  font-size: 14px;
  color: #404040;
  text-align: left;
  padding: 20px 144px 8px 12px;
  position: relative;
}

.statusTooltip span:before {
  content: "";
  width: 20px;
  height: 20px;
  background: #eaeaea;
  position: absolute;
  left: 20px;
  top: -10px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.statusTooltip input {
  letter-spacing: 1;
  display: block;
  width: 503px;
  height: 46px;
  background: #eaeaea;
  font-size: 14px;
  color: #404040;
  padding: 19px 144px 8px 12px;
  border: none;
  position: relative;
}

.border {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #e5e4e4;
}

.selectCity,
.password,
.email,
.agree {
  margin-top: 32px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selectCity span,
.password span,
.email span,
.agree span {
  font-size: 21px;
  margin-right: 140px;
}

.selectCity .passwordLabel,
.password .passwordLabel,
.email .passwordLabel,
.agree .passwordLabel {
  margin-right: 170px;
}

.selectCity .passwordLabelAgain,
.password .passwordLabelAgain,
.email .passwordLabelAgain,
.agree .passwordLabelAgain {
  white-space: nowrap;
  margin-right: 85px;
}

.selectCity .passwordDescription,
.password .passwordDescription,
.email .passwordDescription,
.agree .passwordDescription {
  margin-right: 0;
  font-size: 12px;
  color: #999;
}

.selectCity input,
.password input,
.email input,
.agree input {
  padding-left: 5px;
  margin-right: 18px;
  width: 336px;
  height: 31px;
  font-size: 16px;
}

.selectCity input.passwordInputAgain[type="password"],
.password input.passwordInputAgain[type="password"],
.email input.passwordInputAgain[type="password"],
.agree input.passwordInputAgain[type="password"] {
  width: 370px;
}

.selectCity .container,
.password .container,
.email .container,
.agree .container {
  display: block;
  margin: 0;
}

.selectCity .container select,
.password .container select,
.email .container select,
.agree .container select {
  width: 336px;
  height: 31px;
  font-size: 16px;
}

.passwordAgain {
  margin-top: 40px;
}

#root .app form div.agree {
  margin-top: 40px;
}

#root .app form div.agree span {
  margin-right: 135px;
}

#root .app form div.agree input.inputAgree {
  width: 12px;
  height: 12px;
}

#root .app form div.agree .emailDescription {
  font-size: 16px;
}

#root .app form div.email span {
  margin-right: 55px;
}

#root .app form div.submit {
  text-align: center;
}

#root .app form div.submit button {
  cursor: pointer;
  margin-left: -230px;
  margin-right: 12px;
  width: 110px;
  height: 40px;
  color: white;
  font-size: 18px;
  background: #71c838;
  border: none;
}

#root .app form div.submit button:hover {
  opacity: 0.85;
}

#root .app form div.submit span {
  color: #999999;
  font-size: 12px;
}

.inputValidate {
  background: #ffadad;
  border: 1px solid #ff7979;
}
/*# sourceMappingURL=App.css.map */